.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    
}

@media (max-width: 480px) {
    .card {
        grid-template-columns: 1fr;
        gap: 1.5em;
    }
}


.card__wrapper {
    background: #ffffff;
    border-radius: 1.2em;
    box-shadow: 0 0.4em 2em rgba(0, 0, 0, 0.08);
    overflow: hidden;
    font-family: sans-serif;
    border: 0.1em solid #eee;

    padding: 1.6em;
    display: flex;
    gap: 2.5em;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    font-size: 1.8em;
    font-weight: 600;
    color: #333;
    overflow: hidden;
}

.card__media {
    width: 100%;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    border-radius: 0.8em;
}

.card__media-img {
    max-width: 100%;
    max-height: 16em;
    object-fit: contain;
}

.card__inf {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.card__inf-price {
    font-size: 2.2em;
    font-weight: 700;
    color: #2c3e50;
}
.card__buy {
    
    border-radius: 2rem;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border: 0.1em solid #000;
    font-size: 1.6rem;
    transition: 0.3s;
    padding: 0.5em;
}

.active{
    background-color: #fff;
    color: #000;

}

.card__cartoteka{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card__buy:hover {
    background-color: #fff;
    color: #000;
}
.card__inf-desc {
    font-size: 1.4em;
    color: #666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow-y: scroll;
    text-overflow: ellipsis;
}

.card__do {
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.1em solid #eee;
}

.card__do-rating {
    font-size: 1.4em;
    font-weight: bold;
    color: #ffa41c;
    display: flex;
    align-items: center;
}


.card__do-stock {
    font-size: 1.2em;
    color: #27ae60;
    background: #eafaf1;
    padding: 0.4em 0.8em;
}


.card__notLoaded {
    object-fit: cover;
    position: absolute;
    width: 100vw;
    z-index: 1;
    height: 100dvh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}